/* .accordion {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .accordion > .accordion-header {
    background-color: #eee;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  .accordion > .accordion-body {
    display: none;
    padding: 10px;
  }
  
  .accordion > .open {
    display: block;
  }
  
  .createViewButton {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .createSaveButton {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .delete-view-button {
    margin-left: 10px;
  }
  
  .function {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }  */
  .accordion {
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .accordion > .accordion-header {
    background-color: #845ec2;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
  }
  
  .accordion > .accordion-body {
    display: none;
    padding: 10px;
    background-color: #bba3d0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .accordion > .open {
    display: block;
  }
  
  .accordion-header-view > .accordion-header {
    background-color: #d65db1;
  }
  
  .accordion-header-view > .accordion-body {
    background-color: #e8b4d9;
  }
  
  .accordion-header-viewTemplate > .accordion-header {
    background-color: #ff6f91;
  }
  
  .accordion-header-viewTemplate > .accordion-body {
    background-color: #ffb3bd;
  }
  
  .accordion-header-slot > .accordion-header {
    background-color: #ff9671;
  }
  
  .accordion-header-slot > .accordion-body {
    background-color: #ffd6b6;
  }
  
  .accordion-header-component > .accordion-header {
    background-color: #ffc75f;
  }
  
  .accordion-header-component > .accordion-body {
    background-color: #ffe9cc;
  }
  
  .accordion-header-organism > .accordion-header {
    background-color: #f9f871;
  }
  
  .accordion-header-organism > .accordion-body {
    background-color: #fdfdc7;
  }
  
  .accordion-header-molecule > .accordion-header {
    background-color: #97d38d;
  }
  
  .accordion-header-molecule > .accordion-body {
    background-color: #d8f0d1;
  }
  
  .createViewButton {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .createSaveButton {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .delete-view-button {
    margin-left: 10px;
  }
  
  .function {
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  