.molecule_logo {
    display: flex;
    cursor: default;
    justify-content: center;
    gap: 0.5em;
}

.molecule_text_button {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.molecule_icon_navitem__navitems {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.molecule_icon_navitem__navitems__navitem:hover {
    color: var(--grey-color);
    cursor: pointer;
}

.molecule_icon_navitem__navitems__navitem {
    display: flex;
    gap: 0.5em;
}

.molecule_heading_input_button {
    display: flex;
    justify-content: space-between;
}

.molecule_heading_input_button__input_button {
    display: flex;
    gap: 0.5em;
}

.molecule_heading_list{
    border-bottom: 1px dashed lightgray;
    padding: 1em;
    border-radius: 6px;
}

.molecule_heading__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 0px;
}

.molecule_heading__list__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 0px;
}

.molecule_heading_list__list > li {
    list-style-type: none;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 5px;
}

.molecule_heading_list__list > li:hover {
    background: rgb(236, 236, 236);
  }


.molecule_modalheader {
    display: flex;
    justify-content: space-between;
}

.molecule_modalcentercontent__leftarrows {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 6em;
    margin-bottom: 6em;
}

.molecule_modalcentercontent__rightarrows {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 6em;
    margin-bottom: 6em;

}

.molecule_modalcentercontent__leftarrows >  .molecule_modalcentercontent__leftarrows__toparrow > i {
    font-size: 3rem;
}

.molecule_modalcentercontent__leftarrows >  .molecule_modalcentercontent__leftarrows__bottomarrow > i {
    font-size: 3rem;
}


.molecule_modalcentercontent__rightarrows >  .molecule_modalcentercontent__rightarrows__toparrow > i {
    font-size: 3rem;
}


.molecule_modalcentercontent__rightarrows >  .molecule_modalcentercontent__rightarrows__bottomarrow > i {
    font-size: 3rem;
}

.molecule_modalcentercontent{
    display: flex;
    height: 100%;
    justify-content:center;
}

.molecule_modalcentercontent__content{
    border: 1px solid var(--grey-color);
    border-radius: 6px;
    background-color: rgb(236, 236, 236);
    padding: 1em;
    min-width: 300px;

}

.molecule_modalconnection {
    display: flex;
    padding:1em;
    flex-flow: column;
}

.molecule_modalcentercontent__content__header {
    display: flex;
    gap: 0.5em;
}

.molecule_modalconnection__items__item {
    padding: 1em;
    transition: 0.05s;
    
}

.molecule_modalconnection__items__item:hover {
    background: rgb(236, 236, 236);
    border-radius: 6px;
    cursor: pointer;
  }

.molecule_modalconnection__items__item > .atom_paragraphdata {
    font-style: italic;
}

.molecule_modalconnection__header  {
    display: flex;
    justify-content: space-between;
}