.molecule_logo {
    display: block ruby;
    cursor: default;
}

.molecule_text_button {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.molecule_icon_navitem__navitems {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.molecule_icon_navitem__navitems:hover {
    cursor: pointer;
    color: var(--grey-color);
}