.molecule_logo {
    display: flex;
    cursor: default;
    justify-content: center;
    gap: 0.5em;
}

.molecule_text_button {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.molecule_icon_navitem__navitems {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.molecule_icon_navitem__navitems__navitem:hover {
    color: var(--grey-color);
    cursor: pointer;
}

.molecule_icon_navitem__navitems__navitem {
    display: flex;
    gap: 0.5em;
}

.molecule_heading_input_button {
    display: flex;
    justify-content: space-between;
}

.molecule_heading_input_button__input_button {
    display: flex;
    gap: 0.5em;
}

.molecule_heading_list{
    border-bottom: 1px dashed lightgray;
    padding: 1em;
    border-radius: 6px;
}

.molecule_heading__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 0px;
}

.molecule_heading__list__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 0px;
}

.molecule_heading_list__list > li {
    list-style-type: none;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 5px;
}

.molecule_heading_list__list > li:hover {
    background: rgb(236, 236, 236);
  }