@import "colors.css";

.organism_navbar{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    padding: 1em;
    align-items: center;
}

.organism_navbar__logo{
    transition: 0.05s;
    width: fit-content;
}

.organism_navbar__logo:hover {
    color: var(--custom-color-1);
}


.organism_navbar__text_button{
    display: flex;
    justify-content: right;
}

.organism_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
.organism_modal_content {
background-color: #fefefe;
margin: 0;
padding: 20px;
border: none;
border-radius: 6px;
width: 800px;
height: 500px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2; /* Add this line to ensure the modal content is above the modal background */
}

.organism_heading_list {
    display: grid;
    grid-auto-flow: row;
    overflow: auto;
    border-radius: 6px;
    max-height: 70vh;
}

.organism_header_list_search_button{
    display: flex;
    flex-flow: column;
    gap: 50px;
}

.organism_modalconnections__content{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 210px 210px;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    gap: 2em;
}

.organism_modalconnections__content__connectiontopleft {
    border: 1px solid var(--grey-color);
    border-radius: 6px;
    grid-column: 1;
    grid-row: 1;
    min-width: 100%;
}

.organism_modalconnections__content__connectionbottomleft{
    border: 1px solid var(--grey-color);
    border-radius: 6px;
    grid-column: 1;
    grid-row: 2;
    min-width: 100%;

  
}

.organism_modalconnections__content__content{
    grid-column: 2;
    grid-row: 1/span 2;
}

.organism_modalconnections__content__connectiontopright{
    border: 1px solid var(--grey-color);
    border-radius: 6px;
    grid-column: 3;
    grid-row: 1;
    min-width: 100%;

}

.organism_modalconnections__content__connectionbottomright{
    border: 1px solid var(--grey-color);
    border-radius: 6px;
    grid-column: 3;
    grid-row: 2;
    min-width: 100%;

}