@import "colors.css";

.organism_navbar{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    padding: 1em;
    align-items: center;
}

.organism_navbar__logo{
    transition: 0.05s;
    width: fit-content;
}

.organism_navbar__logo:hover {
    color: var(--custom-color-1);
}


.organism_navbar__text_button{
    display: flex;
    justify-content: right;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  