@import "bootstrap-icons/font/bootstrap-icons.css";
.grid {
  display: grid;
  height: 100vh;
}

.grid__c2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.grid__c3r3 {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.grid__c1r7 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.grid__c4r1 {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
}

.grid-placement__c1r1-3 {
  grid-column: 1;
  grid-row: 1/4;
}

.grid-placement__c2-3r2 {
  grid-column: 2/4;
  grid-row: 2;
}

.grid-placement__c1r1 {
  grid-column: 1;
  grid-row: 1;
}

.grid-placement__c1r3 {
  grid-column: 1;
  grid-row: 3;
}

.grid-placement__c2-3r1 {
  grid-column: 2/4;
  grid-row: 1;
}

/* don't know if this name is correct */
.grid-placement__c2-2r3 {
  grid-column: 3/2;
  grid-row: 2;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.top-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.bottom-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.bottom-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.paginator-placement {
  display: grid;
  justify-content: center;
  width: 80%;
  padding-top: 3rem;
}

.viewtemplate_topnav_middlecontent__middlecontent {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 4rem;
  height: 85vh;
  width: 783px;
  margin: 50px auto auto;
  align-content: start;
}

.viewtemplate_topnav_centercontent__centercontent {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewtemplate_topnav, .viewtemplate_topnav_centercontent__topnav {
  width: 100vw;
  height: 5em;
  line-height: 0.9em;
}

:root {
  --black-color: black;
  --white-color: white;
  --grey-color: #999999;
  --custom-color-1: #9EE7FF;
  --custom-color-2: #9BFFE5;
  --custom-color-3: #FFA39D;
  --background-color: rgb(247, 247, 246);
}

.organism_navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-content: center;
  padding: 1em;
  align-items: center;
}

.organism_navbar__logo {
  transition: 0.05s;
  width: fit-content;
}

.organism_navbar__logo:hover {
  color: var(--custom-color-1);
}

.organism_navbar__text_button {
  display: flex;
  justify-content: right;
}

.organism_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.organism_modal_content {
  background-color: #fefefe;
  margin: 0;
  padding: 20px;
  border: none;
  border-radius: 6px;
  /* width: 1200px;
  height: 700px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Add this line to ensure the modal content is above the modal background */
}

.organism_heading_list {
  display: grid;
  grid-auto-flow: row;
  overflow: auto;
  border-radius: 6px;
  max-height: 70vh;
}

.organism_header_list_search_button {
  display: flex;
  flex-flow: column;
  gap: 50px;
}

.organism_modalconnections__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  row-gap: 2em;
}

.organism_modalconnections__content__connectiontopleft {
  border: 1px solid var(--grey-color);
  border-radius: 6px;
  grid-column: 1;
  grid-row: 1;
  min-width: min-content;
  overflow: scroll;
}

.organism_modalconnections__content__connectionbottomleft {
  border: 1px solid var(--grey-color);
  border-radius: 6px;
  grid-column: 1;
  grid-row: 2;
  min-width: min-content;
  overflow: scroll;
}

.organism_modalconnections__content__content {
  grid-column: 2;
  grid-row: 1/span 2;
}

.organism_modalconnections__content__connectiontopright {
  border: 1px solid var(--grey-color);
  border-radius: 6px;
  grid-column: 3;
  grid-row: 1;
  min-width: min-content;
  overflow: scroll;
}

.organism_modalconnections__content__connectionbottomright {
  border: 1px solid var(--grey-color);
  border-radius: 6px;
  grid-column: 3;
  grid-row: 2;
  min-width: min-content;
  overflow: scroll;
}

.organism_loginformcard {
  width: 300px;
}

.organism_loginformcard__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5em;
  border-radius: 6px;
  background-color: white;
}

.molecule_logo {
  display: flex;
  cursor: default;
  justify-content: center;
  gap: 0.5em;
}

.molecule_text_button {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.molecule_icon_navitem__navitems {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.molecule_icon_navitem__navitems__navitem:hover {
  color: var(--grey-color);
  cursor: pointer;
}

.molecule_icon_navitem__navitems__navitem {
  display: flex;
  gap: 0.5em;
}

.molecule_heading_input_button {
  display: flex;
  justify-content: space-between;
}

.molecule_heading_input_button__input_button {
  display: flex;
  gap: 0.5em;
}

.molecule_heading_list {
  border-bottom: 1px dashed lightgray;
  padding: 1em;
  border-radius: 6px;
}

.molecule_heading__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 0px;
}

.molecule_heading__list__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 0px;
}

.molecule_heading_list__list > li {
  list-style-type: none;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 5px;
}

.molecule_heading_list__list > li:hover {
  background: rgb(236, 236, 236);
}

.molecule_modalheader {
  display: flex;
  justify-content: space-between;
}

.molecule_modalcentercontent__leftarrows {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 6em;
  margin-bottom: 6em;
}

.molecule_modalcentercontent__rightarrows {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-top: 6em;
  margin-bottom: 6em;
}

.molecule_modalcentercontent__leftarrows > .molecule_modalcentercontent__leftarrows__toparrow > i {
  font-size: 1rem;
}

.molecule_modalcentercontent__leftarrows > .molecule_modalcentercontent__leftarrows__bottomarrow > i {
  font-size: 1rem;
}

.molecule_modalcentercontent__rightarrows > .molecule_modalcentercontent__rightarrows__toparrow > i {
  font-size: 1rem;
}

.molecule_modalcentercontent__rightarrows > .molecule_modalcentercontent__rightarrows__bottomarrow > i {
  font-size: 1rem;
}

.molecule_modalcentercontent {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}

.molecule_modalcentercontent__content {
  border: 1px solid var(--grey-color);
  border-radius: 6px;
  background-color: rgb(236, 236, 236);
  padding: 1em;
  min-width: 300px;
}

.molecule_modalconnection {
  display: flex;
  padding: 1em;
  flex-flow: column;
  width: 500px;
}

.molecule_modalcentercontent__content__header {
  display: flex;
  gap: 0.5em;
}

.molecule_modalconnection__items__item {
  padding: 1em;
  transition: 0.05s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.molecule_modalconnection__items__item > * + * {
  margin-left: 10px;
}

.molecule_modalconnection__items__item:hover {
  background: rgb(236, 236, 236);
  border-radius: 6px;
  cursor: pointer;
}

.molecule_modalconnection__items__item > .atom_paragraphdata {
  font-style: italic;
}

.molecule_modalconnection__header {
  display: flex;
  justify-content: space-between;
}

.molecule_createObjectInputAndButton {
  display: flex;
  flex-direction: column;
  margin: 1em;
  grid-gap: 1em;
}

.molecule_createObjectInputAndButton > .atom_buttonPositive {
  align-self: center;
}

.molecule_loginform {
  display: flex;
  flex-direction: column;
  grid-gap: 1.5em;
  align-items: center;
}

.molecule_loginform > h4 {
  align-self: center;
  user-select: none;
}

:root {
  --black-color: black;
  --white-color: white;
  --grey-color: #999999;
  --custom-color-1: #9EE7FF;
  --custom-color-2: #9BFFE5;
  --custom-color-3: #FFA39D;
  --background-color: rgb(247, 247, 246);
}

.atom-icon {
  font-size: 1.1rem;
}

.atom_buttonneutral {
  background-color: var(--white-color);
  padding: 1em;
  border: 1px solid var(--grey-color);
  border-radius: 6px;
  transition: 0.05s;
  cursor: pointer;
}

.atom_buttonneutral:hover {
  background-color: var(--custom-color-1);
}

.atom_buttonpositive {
  padding: 1em;
  border: 1px solid var(--grey-color);
  border-radius: 6px;
  transition: 0.05s;
}

.atom_buttonpositive:hover {
  background-color: var(--custom-color-2);
  border: 1px solid var(--grey-color);
  border-radius: 6px;
}

.atom_input {
  padding: 0.8rem 1rem;
  border: 1px solid var(--grey-color);
  border-radius: 6px;
}

.modal-title-section {
  height: 40px;
}

.modal-container {
  width: 497px;
  box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.04);
  border: 1px solid #c6c7c8;
  border-radius: 12px;
}

.model-container-second {
  width: 497px;
  box-shadow: 5px 15px 5px rgba(0, 0, 0, 0.04);
  border: 1px solid #c6c7c8;
  border-radius: 12px;
}

.upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 5em 4em 4em;
}

.modal-title {
  font-size: 19px;
}

.lower-section {
  height: 70px;
}

#x-btn {
  font-size: 28px;
  color: #212529;
  cursor: pointer;
}

.btn-container {
  padding-bottom: 15px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  justify-content: end;
}

.profile-modal-container {
  margin: 1rem;
}

.modal-profile-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.modal-profile-container input {
  height: 38px;
  border: 1px solid #cfd4d9;
  border-radius: 4px;
  padding: 12px;
}

.input-container {
  gap: 25px;
  display: flex;
  flex-direction: column;
  width: 194px;
  margin: 30px 0 15px 29px;
}

.select-dropdown {
  width: 194px;
  height: 38px;
  background-color: #fff;
  border: 1px #cfd4d9 solid;
  border-radius: 4px;
  padding-left: 12px;
}

.modal-profile-picture {
  margin-top: 33px;
}

.modal-profile-picture img {
  width: 161px;
  height: 161px;
  margin: 0 41px 0 72px;
}

.modal-process-section {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.modal-process-upper-section {
  display: flex;
  justify-content: end;
  font-size: x-large;
  padding-top: 0.2em;
  padding-right: 0.2em;
}

.modal-process-inner-wrap {
  border: none !important;
  width: 1045px !important;
}

.modal-organisation-upper-section {
  display: flex;
  justify-content: end;
  font-size: x-large;
  background-color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-right: 0.2em;
}

.modal-organisation-inner-wrap {
  width: unset;
  border: none !important;
}

.modal-projectInfo-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.modal-projectInfo-btn > button {
  width: 68px;
}

.modal-projInfo-image {
  height: 141px;
  width: 141px;
}

.modal-projInfo-image > img {
  height: 100%;
}

.modal-projInfo-upper-section {
  display: flex;
  justify-content: end;
  font-size: x-large;
  margin-right: 0.5em;
  padding-top: 0.5em;
}

.modal-projInfo-section-bg {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.modal-projectInfo {
  width: 568px !important;
  border-radius: 15px;
}

.modal-search-res-det-upper-section {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: end;
}

.modal-search-res-det {
  width: 520px;
  background-color: white;
}

.modal-add-to-project {
  width: 328px;
}

.modal-org-add-to-proj {
  border-radius: 12px;
  height: 628px;
}

html, body {
  margin: 0;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: rgb(247, 247, 246);
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
