@import "grids.css";
@import "grid-placements.css";
@import "placements.css";
@import "templates.css";
@import "organisms.css";
@import "molecules.css";
@import "atoms.css";
@import "modal.css";
/* @import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css"; */

html, body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}