.viewtemplate_topnav_middlecontent {

}



.viewtemplate_topnav_middlecontent__middlecontent {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 4rem;
    height: 85vh;
    width: 783px;
    margin: 50px auto auto;
    align-content: start;

}

.viewtemplate_topnav_centercontent__centercontent {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewtemplate_topnav_centercontent__topnav {
    @extend .viewtemplate_topnav
}

.viewtemplate_topnav {
    width: 100vw;
    height: 5em;
    line-height: 0.9em;
}


