.viewtemplate_topnav_middlecontent {

}

.viewtemplate_topnav_middlecontent__topnav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
    height: 5em;
    align-content: center;
}

.viewtemplate_topnav_middlecontent__middlecontent {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 4rem;
    height: 85vh;
    width: 783px;
    margin: auto;
    margin-top: auto;
    margin-top: 50px;
    align-content: start;
}